fastapi==0.109.0
uvicorn==0.27.0
python-multipart==0.0.6
pillow>=10.2.0
numpy
python-dotenv==1.0.0
ultralytics
opencv-python-headless
scikit-learn
scikit-image
matplotlib
httpx==0.26.0
twilio==8.11.0
sqlalchemy==2.0.25
